# Public keys
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# Secret keys
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_CLOUDFLARE_TURNSTILE_SITE_KEY=
NEXT_PUBLIC_WEB3FORMS_ACCESS_KEY=
NEXT_PUBLIC_PROJECTID=
# SMTP Settings
SMTP_USER=
SMTP_PASSWORD=
CLOUDFLARE_TURNSTILE_SECRET_KEY=
